@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/NanumGothic-Regular.eot);
	src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
	     url(../fonts/NanumGothic-Regular.woff) format('woff'),
	     url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NanumBarunGothicWeb.eot');
	src: url('../fonts/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumBarunGothicWeb.woff') format('woff'), url('../fonts/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NanumBarunGothicWebBold.eot');
	src: url('../fonts/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumBarunGothicWebBold.woff') format('woff'), url('../fonts/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NanumBarunGothicWebLight.eot');
	src: url('../fonts/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumBarunGothicWebLight.woff') format('woff'), url('../fonts/NanumBarunGothicWebLight.ttf') format('truetype');
}